name: Build ghri

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ghri:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: swatinem/rust-cache@v2
    - name: Build
      run: cargo build -vv --release
    - name: Run tests
      env:
        RUST_BACKTRACE: 1
        RUST_LOG: trace
      run: cargo test --verbose
    - name: Install cargo-llvm-cov
      if: matrix.os == 'ubuntu-latest'
      uses: taiki-e/install-action@cargo-llvm-cov
    - name: Run llvm-cov
      if: matrix.os == 'ubuntu-latest'
      run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
    - name: Run E2E tests
      if: matrix.os != 'windows-latest'
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        RUST_LOG: trace
      run: |
        chmod +x ./tests/e2e_test.sh
        ./tests/e2e_test.sh
    - name: ghri install bach-sh/bach (Windows)
      if: matrix.os == 'windows-latest'
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        RUST_LOG: trace
      run: |
        set -ex
        cargo run --release -- install --yes --root ./ghri-root bach-sh/bach
        find ./ghri-root -ls
        if command -v jq > /dev/null; then
          jq . ./ghri-root/bach-sh/bach/meta.json
        else
          cat ./ghri-root/bach-sh/bach/meta.json
        fi
