name: Build ghri

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ghri:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build -vv --release
    - name: Run tests
      env:
        RUST_BACKTRACE: 1
        RUST_LOG: trace
      run: cargo test --verbose
    - name: ghri bach-sh/bach
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        RUST_LOG: trace
      run: |
        set -ex
        cargo run --release -- --root ./ghri-root bach-sh/bach
        find ./ghri-root
        if command -v jq > /dev/null; then
          jq . ./ghri-root/bach-sh/bach/meta.json
        else
          cat ./ghri-root/bach-sh/bach/meta.json
        fi
      
