name: Build ghri

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ghri:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build -vv --release
    - name: Run tests
      run: env RUST_BACKTRACE=1 RUST_LOG=trace cargo test --verbose
    - name: ghri bach-sh/bach
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -ex
        RUST_LOG=trace target/release/ghri --root ./ghri-root bach-sh/bach
        find ./ghri-root
        if command -v jq > /dev/null; then
          jq . ./ghri-root/bach-sh/bach/meta.json
        else
          cat ./ghri-root/bach-sh/bach/meta.json
        fi
      
