name: Build ghri

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ghri:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build -vv --release
    - name: Run tests
      run: env RUST_BACKTRACE=1 RUST_LOG=trace cargo test --verbose
